<div class="container">

<h1 class="big"><strong> Our mission </strong></h1>
<br/>
<p>
Our mission is provide users with an updated market place that farmers use to distribute their goods. The secondary mission is to bring humans
closer to the land(Earth) and give thanks to farmers because we depend on farms. <b>No Farmers No Farms No Food.</b>
</p>
<br/>
<br/>

</div>

<div class="container">

<h2 class="big"><strong> Why farming </strong> </h2>
<br>
<strong>For decades, flavorful and rich produce and meat would end up on the dinner table after being tended to and closely monitored in the local farms.</strong></p>
<!--more-->
<p dir="ltr">Farming was not associated with commercialization and sparked images of rows of vegetables. Today, agriculture occurs on a much larger scale. Agriculture businesses grow food to distribute in mass quantities and at all points throughout the year - regardless of the food’s peak season. Additionally, agriculture now includes dairy and livestock among other characteristics. Agriculture at the most basic level is incredibly important for a number of reasons.</p>
<h3 dir="ltr"><strong>Raw Materials</strong></h3>
<p>Many raw materials depend directly on agriculture. Leading industries that use materials like cotton, sugar, tobacco, and oils are dependent on agriculture.</p>
<h3><strong>Jobs</strong></h3>
<p>Agriculture not only creates jobs for the farmers, it also provides jobs for the truck drivers who transport the produce to the store, grocery store employees who sell the goods, restaurant employees who receive the raw food, and many others.</p>
<h3><strong>Health Benefits</strong></h3>
<p>Like mom says, “eat your vegetables!” Multivitamins and supplements cannot compare to the vitamins and minerals that fresh fruits and vegetables provide for the body.</p>
<h3><strong>Foreign Exchange</strong></h3>
<p>Bananas, tea, coffee, tobacco, and spices contribute to and encourage a significant amount of foreign trade.</p>
<h3><strong>Connection to the Land</strong></h3>
<p>In many parts of the world, people depended on rain, rich soil, and the environment around them; farmers have a deep understanding and connection to nature.</p>
<p>While agriculture is important for a number of reasons, it is equally important for farmers and agriculture organizations to collect data. Having an understanding of the plant and &nbsp;to have an understanding of the type of plant that is being grown and a means to track the good, and bad, produce from seed to store. Utilize the Zerion platform in your workflow to&nbsp;make data collection more efficient.</p>
</div>
<br/>
<br/>