<h1>New Item</h1>

<%= render 'form', item: @item %>
<br>
<p>___________________</p>
<h5> Quick Calculator </h5>
<input type="text"></input><span>grams(g)</span>
<input type="text"></input><span>pounds(lbs)</span>
<button id="calculate">Calculate</button>
<br>
<br>
<%= link_to 'Back', items_path %>
